html, body { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: normal; font-style: normal; font-size: 100%; line-height: 1; font-family: inherit; }
table { border-collapse: collapse; border-spacing: 0; }
ol, ul { list-style: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

@import "mixins.less";

/*
	Global variables 
*/

	@global-font: 'Inconsolata', 'Courier';
	@c-dark: #22313F;
	@c-light: #FDE3A7;

	@header-height: 4rem;

	// ::-webkit-scrollbar {
	// 	width: 10px;
	// }

	// ::-webkit-scrollbar-track {
	// 	background-color: @c-dark;
	// }

	// ::-webkit-scrollbar-thumb {
	// 	background-color: rgba(255,255,255,0.25);
	// 	border-radius: 4px;
	// }

* {
	box-sizing: border-box;
}

html, body, #app-container, #app-container div {
	height: 100%;
	font-family: @global-font;
	overflow-x: hidden;
}

#app-container {
	background-color: @c-dark;
}

#posts {
	height: auto;
	padding: 0.5rem;
	.flex-center;
	.flex-wrap( wrap );

	.post {
		.flex-item(0 0 25%);
		padding: 0.5rem;

		@media only screen and (max-width: 1200px) {
			.flex-item(0 0 33%);
		}

		@media only screen and (max-width: 900px) {
			.flex-item(0 0 50%);
		}

		@media only screen and (max-width: 600px) {
			.flex-item(0 0 100%);
		}

		.post-meta {
			border-bottom: 1px solid rgba(0,0,0,0.1);
			margin-bottom: 0.75rem;

			span {
				display: inline-block;
				color: #96281B;
				font-size: 0.875rem;

				&.delete {
					cursor: pointer;
					height: 20px;
					width: 20px;
					border-radius: 4px;
					float: right;
					background-color: rgba(0,0,0,0.05);
					background-image: url('../images/cross.png');
					background-position: center;
					background-repeat: no-repeat;
					background-size: 10px;

					&:hover {
						background-color: rgba(0,0,0,0.1);
					}
				}
			}
		}
		
		.inner {
			height: 100%;
			width: 100%;
			background-color: @c-light;
			font-size: 1.125rem;
			line-height: 1.5rem;
			border: none;
			outline: none;
			font-family: inherit;
			box-shadow: 0 2px 2px rgba(0,0,0,0.5);
			min-height: 15rem;
			padding: 1rem 1.5rem;

			textarea {
				font-size: inherit;
				font-family: inherit;
				line-height: inherit;
				width: 100%;
				height: 200px;
				outline: none;
				border: none;
				background-color: @c-light;
				resize: none;
			}
		}

		&.new {

			&.active .inner {
				background-image: none;
				opacity: 1 !important;
			}

			.inner {
				cursor: pointer;
				opacity: 0.2;
				background-image: url('../images/plus.png');
				background-size: 4rem;
				background-repeat: no-repeat;
				background-position: center;
				.transition( opacity 200ms );

				&:hover {
					opacity: 0.3;
				}
			}
		}
	}
}