html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
.flex-parent {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.full-center {
  min-height: 100%;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
/*
	Global variables 
*/
* {
  box-sizing: border-box;
}
html,
body,
#app-container,
#app-container div {
  height: 100%;
  font-family: 'Inconsolata', 'Courier';
  overflow-x: hidden;
}
#app-container {
  background-color: #22313f;
}
#posts {
  height: auto;
  padding: 0.5rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#posts .post {
  -webkit-flex: 0 0 25%;
  -moz-flex: 0 0 25%;
  -o-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  padding: 0.5rem;
}
@media only screen and (max-width: 1200px) {
  #posts .post {
    -webkit-flex: 0 0 33%;
    -moz-flex: 0 0 33%;
    -o-flex: 0 0 33%;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
  }
}
@media only screen and (max-width: 900px) {
  #posts .post {
    -webkit-flex: 0 0 50%;
    -moz-flex: 0 0 50%;
    -o-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}
@media only screen and (max-width: 600px) {
  #posts .post {
    -webkit-flex: 0 0 100%;
    -moz-flex: 0 0 100%;
    -o-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}
#posts .post .post-meta {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 0.75rem;
}
#posts .post .post-meta span {
  display: inline-block;
  color: #96281B;
  font-size: 0.875rem;
}
#posts .post .post-meta span.delete {
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  float: right;
  background-color: rgba(0, 0, 0, 0.05);
  background-image: url('../images/cross.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
}
#posts .post .post-meta span.delete:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#posts .post .inner {
  height: 100%;
  width: 100%;
  background-color: #fde3a7;
  font-size: 1.125rem;
  line-height: 1.5rem;
  border: none;
  outline: none;
  font-family: inherit;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  min-height: 15rem;
  padding: 1rem 1.5rem;
}
#posts .post .inner textarea {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  width: 100%;
  height: 200px;
  outline: none;
  border: none;
  background-color: #fde3a7;
  resize: none;
}
#posts .post.new.active .inner {
  background-image: none;
  opacity: 1 !important;
}
#posts .post.new .inner {
  cursor: pointer;
  opacity: 0.2;
  background-image: url('../images/plus.png');
  background-size: 4rem;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: opacity 200ms;
  -moz-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  -ms-transition: opacity 200ms;
  transition: opacity 200ms;
}
#posts .post.new .inner:hover {
  opacity: 0.3;
}
